body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    min-width: 150px;
    max-width: 600px;
    background-color: #f8f9fa;
    height: 100%;
    overflow-y: auto;
}

#sidebar-resizer {
    width: 5px;
    cursor: ew-resize;
    background-color: #dee2e6;
    height: 100%;
}

#sidebar-resizer.active {
    background-color: #adb5bd;
}

.right-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#query-editor-container {
    flex: 1 1 50%;
    padding: 10px;
    overflow: auto;
    background: white;
}

#vertical-resizer {
    height: 5px;
    background-color: #dee2e6;
    cursor: ns-resize;
}

#vertical-resizer.active {
    background-color: #adb5bd;
}

#result-table-container {
    flex: 1 1 50%;
    padding: 10px;
    overflow: auto;
    background-color: #f1f1f1;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.layout-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 150px;
    max-width: 400px;
    overflow: hidden;
    border-right: 1px solid #e5e5e5;
}

#collection-container {
    height: 100%;
    overflow: auto;
}

#sidebar-inner-resizer {
    height: 5px;
    background: #ccc;
    cursor: ns-resize;
}

#respond-container {
    flex: 1;
    overflow: auto;
}

#main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}

#queryeditor-container {
    min-height: 100px;
    height: 50%;
    overflow: auto;
}


#table-resizer {
    height: 5px;
    cursor: ns-resize;
    background: #ccc;
}

#resulttable-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
}